@import 'variables';

:host {
    display: block;
    button {

        // the styling will be different according to the button type

        &.playlist {
            width: 100%;
            display: inline-block;
            padding: 0px 0px 10px 0px;
            border: 0;
            border-radius: 5px;
            text-align: left;
            font-weight: 500;
            font-size: .9rem;
            color: rgba($color: white, $alpha: .6);
            background-color: transparent;
            vertical-align: baseline;
            white-space: noWrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
                margin-left: 0px;
            }

            &:hover {
                color: white;
            }
            &.selected {
                color: white;
            }

        }
        
        &.menu {
            width: 100%;
            text-align: left;
            padding: 8px;
            margin-bottom: 5px;
            background-color: rgba($color: white, $alpha: .05);
            color: $preto-transparente-70;
            border:none;
            font-size: .9rem;
            font-weight: 500;
            border-radius: 5px;
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.164);
            }
            &.selected {
                background-color: rgba(255, 255, 255, 0.296);
            }
        }

    }
}