<div class="container p-10">
    <div class="image" [style.background-image]="'url(' + currentTrack.album.imageURL + ')'"
    (click)="goToAlbum(currentTrack.album.id)"
    ></div>
    <div class="status">

            <div class="trackName"
            (click)="goToAlbum(currentTrack.album.id)">
                {{currentTrack.name}}
            </div>
            
            <div class="artistName"
            (click)="goToArtist(currentTrack.artists[0].id)">
                {{currentTrack.artists[0].name}}
            </div>

         <div class="buttons">

            <fa-icon 
            [icon]="backIcon"
            (click)="previousTrack()">
            </fa-icon>

            <fa-icon 
            [icon]="pauseIcon"
            (click)="pauseTrack()">
            </fa-icon>

            <fa-icon 
            [icon]="nextIcon"
            (click)="nextTrack()">
            </fa-icon>

         </div>
    </div>
</div>