@import 'table';

:host {

    display: flex;
    justify-content: space-between;
    
    ::-webkit-scrollbar {

        width: 4px;
        padding-top: 10px;
    
        &-thumb {
            background-color: rgba($color: white, $alpha: 0.2);
            border-radius: 10px;
        }
    }

    .content {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;

        .invisible {
            visibility: hidden;
        }

        .lista {
            position: absolute;
            padding: 0px 50px;
            padding-bottom: 20px;
            z-index: 1;
            
            .isSearchVisible {
                visibility: hidden;
                position: absolute;
                }
        
            .isTableVisible {
                visibility: hidden;
                }
            }

            .background {
                position: absolute;
                top: -15%;
                left: -15%;
                height: 125%;
                width: 125%;
                background-position: center;
                background-size:cover;
                opacity: .4;
                filter: blur(100px);
                z-index: 0;
            }
    }

    .painel-direito {
        height: 100vh;
    }

}