<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="">
    </div>

    <div class="menu-container flex opcoes">
        <app-botao-menu 
        [buttonName]="'Início'"
        [buttonType]="'menu'"
        [isSelected]="selectedMenu === 'Início'"
        (click)="buttonClick('Início')"
        >
            <fa-icon [icon]="homeIcon"></fa-icon>
        </app-botao-menu>

        <app-botao-menu 
        [buttonName]="'Buscar'"
        [buttonType]="'menu'"
        [isSelected]="selectedMenu === 'Buscar'"
        (click)="buttonClick('Buscar')"
        >
            <fa-icon [icon]="searchIcon"></fa-icon>
        </app-botao-menu>

        <app-botao-menu 
        [buttonName]="'Sua Biblioteca'"
        [buttonType]="'menu'"
        [isSelected]="selectedMenu === 'Sua Biblioteca'"
        (click)="buttonClick('Sua Biblioteca')"
        >
            <fa-icon [icon]="libraryIcon"></fa-icon>
        </app-botao-menu>
    </div>

    <div class="menu-container flex">

        <span class="playlist-titulo">
            PLAYLISTS
        </span>

        <div class="playlist-scroll">
            <app-botao-menu *ngFor="let playlist of playlists"
            [buttonName]="playlist.name"
            [buttonType]="'menu'"
            [isSelected]="selectedMenu === playlist.id"
            (click)="goToPlaylist(playlist.id)"
            >
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-botao-menu>
        </div>

    </div>
</div>

<div class="userInfo">
<app-rodape-usuario></app-rodape-usuario>
</div>