<div class="menu">

    <div class="fixos">
        <app-botao-menu 
        [buttonName]="'Início'"
        [buttonType]="'menu'"
        [isSelected]="selectedMenu === 'Início'"
        (click)="buttonClick('Início')"
        >
        </app-botao-menu>

        <app-botao-menu 
        [buttonName]="'Sua Biblioteca'"
        [buttonType]="'menu'"
        [isSelected]="selectedMenu === 'Sua Biblioteca'"
        (click)="buttonClick('Sua Biblioteca')"
        >
        </app-botao-menu>
    </div>

        <span class="playlistTitle">
            PLAYLISTS
        </span>
</div>

<div class="playlists">
    <app-botao-menu *ngFor="let playlist of playlists"
    [buttonName]="playlist.name"
    [buttonType]="'playlist'"
    [isSelected]="selectedMenu === playlist.id"
    (click)="goToPlaylist(playlist.id)"
    >
    </app-botao-menu>
</div>

<app-player-card class="player"></app-player-card>