@import 'variables';

$h-spotify-logo: 120px;
$h-menu-opcoes: 150px;
$m-entre-menus: 10px;
$h-footer-user: 70px;

$h-desconsiderar: calc($h-spotify-logo + $h-menu-opcoes + $h-footer-user);

:host {
    
    width: 380px;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: $cor-fundo2;



    .menu {
        
        .fixos {
            flex-grow: 0;
            width: 100%;
            margin-top: 20px;
            padding: 25px 25px 25px 25px;
        }

        .playlistTitle {
            font-size: .7rem;
            font-weight: 500;
            padding: 0px 25px 0px 25px;
            color: white;
        }
    }

    .playlists {
            
        flex-grow: 1;
        margin: 10px 0px;
        font-weight: 400;
        font-size: .7rem;
        padding: 0px 25px 0px 25px;
        color: white;
        width: 100%;
        overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            * {
                margin-bottom: 5px;
            }
    }

    .player {
        width: 100%;
        max-height: 60%;
        flex-grow: 0;
        padding: 0px;
    }

}