@import 'variables';

.userBubble {

    height: 36.4px;
    display: flex;
    position: relative;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 30px 1px #00000077;

    border-radius: 100%;

    .image {

        height: 100%;
        aspect-ratio: 1;
        position: absolute;
        z-index: 0;
        background-position: center;
        background-size: cover;
    }


    .logoutText {

        padding: 50%;
        position: absolute;
        z-index: 1;
        font-size: .7rem;
        font-weight: 500;
        color: transparent;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: red;
        }
    }
}