// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import 'variables.scss';

html, body {
    margin: 0;
    padding: 0;
    background-color: $cor-fundo;
    user-select: none;
}

* {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }
}

.titulo {
    color: white;
    display: block;
    font-weight: 500;
    
    &-bg {
        @extend .titulo;
        font-size: 2.2rem;
    } 

    &-md {
        @extend .titulo;
        font-size: 1.4rem;
    }
}

.mt {
    @for $i from 1 to 10 {
        &-#{ $i } {
            margin-top: #{ $i }vh;
        }
    }
}

.p-20 {
    padding: 20px;
}

.card {
    box-shadow: 0px 0px 15px $preto-transparente-03;
    background-color: $branco;
    border-radius: 5px;

}

.fadeIn {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.textFadeIn {
    transition: color 300ms, background-color 200ms;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}