$cor-fundo: #000000bb;
$cor-fundo2: rgba(0, 0, 0, 0.912);
$cor-primaria: #37AB00;

$preto-transparente-30: #ffffff4d;
$preto-transparente: #ffffff20;
$preto-transparente-03: #ffffff08;
$preto-transparente-70: rgba(255, 255, 255, 0.7);

$branco: $cor-fundo2;
$preto: #000000;