@import 'variables'; 

:host {
    input {
        width: 30%;
        padding: 10px 10px;
        border-radius: 20px;
        border: 0px;
        outline: none;
        color: rgba($preto, $alpha: 1);
        font-size: .85rem;
        font-weight: 400;

        &::placeholder {
            color: rgba($preto, $alpha: .5);
            font-size: .80rem;
        }

        &:focus, &:active {
            
            border-width: 2px;
        }
    }

    .suggestions {
        flex-wrap: wrap;
    }
}