@import 'variables'; 

:host {
    input {
        padding: 10px 80px 10px 15px;
        border-radius: 20px;
        border: 0px;
        outline: none;
        color: rgba($color: white, $alpha: 1);
        background-color: rgb(84, 84, 84);
        font-size: .85rem;
        font-weight: 400;
        box-shadow: 0px 0px 40px 5px #00000074;

        &::placeholder {
            color: rgba($color: white, $alpha: .5);
            font-size: .80rem;
        }

        &:focus, &:active {
            
            border-width: 2px;
        }
    }

    .suggestions {
        flex-wrap: wrap;
    }
}