@import 'variables'; 

:host {
    input {
        width: 100%;
        padding: 5px 5px;
        border-radius: 5px;
        border-color: rgba($preto-transparente, $alpha: .08);
        outline: none;
        color: $preto-transparente-70;
        font-size: .85rem;
        font-weight: 400;

        &::placeholder {
            color: $preto-transparente-30;
            font-size: .85rem;
        }

        &:focus, &:active {
            border-color: rgba($preto-transparente, $alpha: .2);
            border-width: 2px;
        }
    }

    .suggestions {
        flex-wrap: wrap;
    }
}